 <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hello World</title>
    </head>
    <body>

<div id="example-1">
  Hello {{ name+"123" }}!
</div>
<div id="example-2">
  <p v-if="greeting">Hello!</p>
</div>
<div id="example">
  a={{ a }}, b={{ b }}
</div>
<div id="demo">{{fullName}} <h5>{{example}}</h5></div>
<div class="static" v-bind:class="{ 'class-a': isA, 'class-b': isB }" v-bind:style="styleObject">132
    <h1 v-if="!ok">Hello!</h1>
    <h1 v-else>NOO!</h1>
</div>
<button v-on:click="doSomething">Button</button>
<ul id="demo_item">
  <li v-for="(item,index) of items">
       {{ parentMessage }} - {{ index }} - {{ item.message }}
  </li>
</ul>
<div id='z'>
  <span v-for="n in 10">{{ n }} </span>
</div>
<div id="cpexample">
  <my-component></my-component>
</div>
<div id="counter-event-example">
  <p>{{ total }}</p>
  <button-counter v-on:increment="incrementTotal"></button-counter>
  <button-counter v-on:increment="incrementTotal"></button-counter>
</div>
<!-- to do list -->
<div id="todo-list-example">
  <input
    v-model="newTodoText"
    v-on:keyup.enter="addNewTodo"
    placeholder="Add a todo"
  >
  <ul>
    <li
      is="todo-item"
      v-for="(todo, index) in todos"
      v-bind:title="todo"
      v-on:remove="todos.splice(index, 1)"
    ></li>
  </ul>
</div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
        <script src="modle.js"></script>
    </body>
</html>
